.sidemenu-container {
  height: 100vh;
  border-right: 1px solid #dadada;
  .logo-container {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 165px;
    }
  }
  .nav-link-container {
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    opacity: 0.6;
    transition: all 0.2s;
    .nav-link-icon {
      width: 24px;
      height: auto;
      margin-left: 25px;
      margin-right: 15px;
    }
    .nav-link {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .nav-link-container:hover {
    background-color: rgba($color: #000000, $alpha: 0.05);
    cursor: pointer;
  }

  .nav-link-container.active {
    opacity: 1 !important;
    transition: all 0.2s;
    .nav-link {
      font-weight: 700 !important;
    }
  }
  .under-development {
    position: absolute;
    top: 42px;
    left: 50px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 0px 7px 0px 7px;
    transform: rotate(-30deg);
    box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  }
}
