.topmenu {
  display: none;
  z-index: 10;
  height: 76px;
}

.sidemenu {
  position: fixed;
  width: 200px;
  background-color: white;
}

.content {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
}

@media (max-width: 768px) {
  .topmenu {
    display: block;
    position: fixed;
  }
  .sidemenu {
    display: none;
  }

  .content {
    padding-top: 76px;
    left: 0px;
    width: 100%;
  }
}
